form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-list {
    padding: 2em;
    width: 80%;
}

.products {
    text-align: left;
    margin-bottom: 4em;
    padding: 1em 1em 1.5em 1em;
    border: 1px solid #c2bfbf;
    background-color: #dee8f3;
}

.products h2 {
    margin-bottom: 1em;
    text-align: center;
}

label {
    display: block;
    margin-top: 1em;
    margin-bottom: .2em;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #969494;
    border-radius: 4px;
}

#total,
#total h3,
#total-pay {
    display: inline;
}

#total {
    margin-bottom: 20px;
}

#total-pay {
    margin-left: 4px;
}

button {
    padding: 10px 20px;
    background-color: #247edd;
    color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6ba9eb;
}

button[type="submit"] {
    background-color: #50b367;
}

button[type="submit"]:hover {
    background-color: #76b985;
}

#remove-product {
    background-color: #d36070;
}

#remove-product:hover {
    background-color: #db7a87;
}

#alert {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #e97777;
    color: #f2f2f2;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    display: none;
}